@model crowsoftmvc.Models.DefaultFeature

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Building Default Feature</h4>
<h6>Note: When you checked the Default Feature checkbox, this feature will not display to clients, but added when the quote is generated!</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement" class="control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Measurement" asp-items="Model.MeasureMentsList"></select>
                </div>
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDefaultFeature" class="control-label"></label>
                @*<input asp-for-ch="IsDefaultFeature" class="form-control" />*@
                <input type="checkbox" data-val="1" data-val-required="The IsDefaultFeature field is required." id="IsDefaultFeature" name="IsDefaultFeature" value="1">
                <span asp-validation-for="IsDefaultFeature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
